:root {
  --activeNavSize: 1;
@font-face {
  font-family: 'SF Pro Text';
  src:  url('/assets/fonts/sf-pro-text-regular.ttf') format('ttf'),
        url('/assets/fonts/sf-pro-text-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

nav {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 8px 0;
  overflow: hidden;
}

nav:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 1px;
  transform: scaleX(1);
  transform-origin: left;
  transition: left 500ms ease-in-out, transform 500ms ease-in-out;
  background-color: black;
  will-change: transform;
}

nav:before {
  transform: translateX(var(--activeNavCenter)) scaleX(var(--activeNavSize));
}

nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: silver;
  z-index: -1;
}

nav button {
  position: relative;
  border: none;
  background-color: transparent;
  color: silver;
  text-decoration: none;
  font-size: 13px;
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

nav button.active {
  color: black
}

nav button:hover {
  color: lightskyblue;
}