:root {
  --activeNavSize: 1;
  --activeNavCenter: 0;
  --hoverColor: rgb(40,125,190);
  --lightGrey: rgb(173,172,173);
}

@font-face {
  font-family: 'SF Pro Text';
  src:  url('/assets/fonts/sf-pro-text-regular.ttf') format('ttf'),
        url('/assets/fonts/sf-pro-text-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  margin: 145px 24px 0 24px;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 8px 55px;
  overflow: hidden;
}

nav:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1.25rem;
  width: 10px;
  height: 1px;
  transform: translateX(0) scaleX(1);
  transform-origin: left;
  transition: transform 450ms ease-in-out;
  background-color: black;
  will-change: transform;
}

nav:before {
  transform: translateX(var(--activeNavCenter)) scaleX(var(--activeNavSize));
}

nav:after {
  content: "";
  position: absolute;
  bottom: 1.25rem;
  width: 100%;
  height: 1px;
  background-color: var(--lightGrey);
  opacity: 0.5;
  z-index: -1;
}

nav button {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  color: var(--lightGrey);
  text-decoration: none;
  font-size: 13px;
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

nav button.active,
nav button.active:hover {
  color: black
}

nav button::after {
  content: attr(data-time);
  position: absolute;
  left: 50%;
  top: 0%;
  font-size: 0.75rem;
  color: var(--lightGrey);
  opacity: 0;
  transform: translate(-50%, 100%);
  transition: all 350ms ease-in-out;
  transition-delay: 100ms;
}

nav button.active::after {
  opacity: .5;
  color: black;
  transform: translate(-50%, 225%);
  transition-delay: 500ms;
}

nav button:hover {
  color: var(--hoverColor);
}